@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.jumbotron{
    position: relative;
    padding:1% 4%!important;
    margin-top: 1px !important;
    margin-bottom: 20px !important;
    margin: auto;

}
.display-4,.lead{
  margin-left: 5px !important;
}
.btn{
  margin-top:5px !important;
}


body{
	background-color:  #393e46;
  background-size:cover;
  background-position: center;

}


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}


.navbar{
  margin-bottom: 20px;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.cover-image {
  /* src image (replaced original since it's not available anymore) */
  background-image: url(<%=product.image_url);

  background-size:cover;
  background-position: center;

  /* desired height */
  height: 80px;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}
.card{
  height:500px;


}
.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
.navigation{
	background-color: black;
}
